{% extends "layout.html" %}

{% block title %}CSCB20 - Announcements{% endblock %}
	{% block announcements %}<li><a id="active" class="nav-hover" href="/announcements">Announcements</a></li>          {% endblock %}

{% block content %}

		<!-- Announcments-List --> 
		<div class="content-container">
			<section id="overview">
				<h1 class="subtitle"><strong>Announcements:</strong></h1>
				<hr>
			</section>
		</div>

		<!-- Announcements flex table -->
		<div class="announcement-table">
			<div class="flex-table">
				<div class="flext-cell c3 flex-th">DATE</div>
				<div class="flext-cell c6 flex-th">ANNOUNCEMENT</div>		
			</div>

			<!-- Announcement One -->
			<div class="flex-table">
				<div class="flext-cell c3">Mar 6, 2019 at 11:26am</div>
				<div class="flext-cell c6">
					<button class="announcement">Assignment 2 Office Hours</button>
					<div class="panel">
						<p>
							Hi everyone,<br>
							<br>
							Syeda, Dharmik, and I will be hosting office hours for Assignment 2 on Tuesday, Wednesday, 
							and Friday next week in the TA office (IC 400A) at the following times:<br>
							<br>
							Dharmik: Tuesday, March 12th - 10:00AM to 12:00PM<br><br>
							Syeda: Wednesday, March 13th - 1:00PM to 3:00PM<br><br>
							Kevin: Friday, March 8th - 2:00PM to 4:00PM<br><br>
						
							Please consider coming if you need clarification or help with formatting, styling, content, 
							or anything else<br>
							<br>
							Kevin<br>
						</p>
					</div>
				</div>
			</div>

			<!-- Announcement Two -->
			<div class="flex-table">
				<div class="flext-cell c3">Mar 4, 2019 at 3:55pm</div>
				<div class="flext-cell c6">
					<button class="announcement">Teams for Assignment 2</button>
					<div class="panel">
						<p>
							Hello folks,<br>
							<br>
							As mentioned in lecture today:<br>
							<br>
							1. If you have your team of 2 ready, 1 person in the team (not both) is required to complete 
							this form:<br>
							<br>
							<a href="https://goo.gl/HxgAjg">https://goo.gl/HxgAjg</a><br>
							<br>
							2. If you do not have a team of 2, then complete this form, and you will be paired up randomly 
							with someone that also completed this form. <br>
							<br>
							<a href="https://goo.gl/E3Ev76">https://goo.gl/E3Ev76</a><br>
							<br>
							You must be present on one of the two forms by end of 5th March @ 11:59pm. I am sorry, but 
							working alone for assignment 2 is not an option.<br>
							<br>
							Thanks,
							<br>
							Abbas
						</p>
					</div>
				</div>
			</div>

			<!-- Announcement Three -->
			<div class="flex-table">
				<div class="flext-cell c3">Mar 3, 2019 at 9:21pm</div>
				<div class="flext-cell c6">
					<button class="announcement">Midterm exam grades</button>
					<div class="panel">
						<p>
							Hi everyone,<br>
							<br>
							1. Your midterm exams have been marked. You will receive your mark tomorrow, 4th March at around 
							11:30 am. I will also talk about the exam and share statistics with you tomorrow in lecture. <br>
							<br>
							2. I will also allocate some time in lecture tomorrow and talk about assignment 2. <br>
							<br>
							Thanks,
							<br>
							Abbas
						</p>
					</div>
				</div>
			</div>

			<!-- Announcement Four -->
			<div class="flex-table">
				<div class="flext-cell c3">Mar 2, 2019 at 11:26am</div>
				<div class="flext-cell c6">
					<button class="announcement">Pre lecture videos for lecture for lecture on 4th March</button>
					<div class="panel">
						<p>
							Hi everyone.<br>
							<br>
							Please make sure to watch these videos before coming to lecture on March 4th. We will be looking 
							at FlexBox on Monday and time permitting, making our fast pass on JavaScript. <br>
							<br>
							FlexBox: <br>
							<br>
							<a href="https://www.youtube.com/watch?v=JJSoEo8JSnc">Flexbox CSS In 20 Minutes </a><br>
							<br>
							JavaScript: <br>
							<br>
							<a href="https://www.youtube.com/watch?v=vEROU2XtPR8">JavaScript Fundamentals For Beginners</a><br>
							<br>

							Again, I want to emphasize, that do watch these videos. As you are learning these new technologies 
							on the web, keep in mind, that you will want to try them out yourself and experiment by writing 
							code in HTML, CSS and JavaScript. This is the best way to learn web technologies. You learn them 
							well when you try these out yourself. Do not just read them, or watch the videos, however, also get 
							in the habit of trying them out. <br>
							<br>
							Thanks,<br>
							<br>
							Abbas
						</p>
					</div>
				</div>
			</div>

			<!-- Announcement Five -->
			<div class="flex-table">
				<div class="flext-cell c3">Feb 27, 2019 at 2:44pm</div>
				<div class="flext-cell c6">
					<button class="announcement">Assignment 2 is now available</button>
					<div class="panel">
						<p>
							Hi everyone,<br>
							<br>
							Assignment 2 is now available. Due date is 13th March @ 11:59 pm. Please note that you are required 
							to work in teams of 2 for this assignment. Please stop by my office hours on Friday from 3 pm to 5 pm, 
							if you like to discuss your assignment 2 with me for some ideas etc. <br>
							<br>
							Thanks,
							<br>
							Abbas
						</p>
					</div>
				</div>
			</div>

			<!-- Announcement Six -->
			<div class="flex-table">
				<div class="flext-cell c3">Feb 25, 2019 at 10:36am</div>
				<div class="flext-cell c6">
					<button class="announcement">Assignment 1 Rubric</button>
					<div class="panel">
						<p>
							Hi everyone.<br>
							<br>
							See attached files.<br>
							<br>
							For question 1 inquiries, email Dharmik: <a href="mailto:dharmik.shah@mail.utoronto.ca">dharmik.shah@mail.utoronto.ca</a><br>
							<br>
							For question 2/3 inquiries, email Brian: <a href="mailto:brianandrew.lam@mail.utoronto.ca">brianandrew.lam@mail.utoronto.ca</a><br>
							<br>
							<a href="{{ url_for('static', filename='lectures/dummy.pdf') }}">Marking Scheme</a><br>
							<br>
							Thanks,
							<br>
							Dharmik Shah
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>

		<script src="{{ url_for('static', filename='announcements.js') }}"></script>

{% endblock %}