{% extends "layout.html" %}

{% block title %}CSCB20 - Calendar{% endblock %}

{% block content %}

	<!-- Calendar -->
	<div class="content-container">
		<section id="calendar">
		<h1 class="subtitle"><strong>Calendar:</strong></h1>
		<hr>
		<br>
		</section>
		
		<!-- link to Google Calendar -->
		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%2366cccc&amp;src=ggb4lcdlhh710jh1vgdgolh4go%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FToronto" 
		style="border:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
		<br>
	</div>

{% endblock %}