{% extends "layout.html" %}

{% block title %}CSCB20 - Remark_Requests{% endblock %}
{% block remark %}<li><a id="active" class="nav-hover" href="/remark_req">Remark Requests</a></li>{% endblock %}

{% block content %}

		<!-- Student's-Grades -->
		<div class="content-container">
			<section id="requests-list">
				<h3 class="subtitle"><strong>Remark Requests:</strong></h3>
			</section>
		</div>

		<!-- table for remark requests --> 
		<div class="remark-table">
			<div class="flex-table">
				<div class="flext-cell c31 flex-th">Username</div>
				<div class="flext-cell c32 flex-th">Assessment</div>
				<div class="flext-cell c33 flex-th">Explaination</div>
			</div>
			{% for row in remarks %}
				<div class="flex-table">
					<div class="flext-cell c31">{{ row.username }}</div>
					<div class="flext-cell c32">{{ row.assessment_name }}</div>
					<div class="flext-cell c33">{{ row.explaination }}</div>
				</div>
			{% endfor %}
		</div>
		<br><br>
		<br><br>
		<br><br>

{% endblock %}